/* Custom Styles */
body {
    padding-top: 4.5rem; /* Adjust based on your navbar height */
}

.container {
    margin-top: 2rem;
}

.navbar-brand {
    font-weight: bold;
}

.navbar-nav .nav-link {
    padding-right: 1rem;
    padding-left: 1rem;
}

.navbar-nav .nav-item.active .nav-link {
    color: #fff;
    background-color: #007bff;
    border-radius: 4px;
}

/* Footer Styles */
.footer {
    text-align: center;
    color: #fff;
    padding: 20px 0;
    position: absolute;
    bottom: 0; /* changed from 'bottom: 10;' */
    width: 100%;
    background-color: #343a40;
}
